#container_home {
    padding: 10px;
    text-align: center;
    align-self: center;
}

#h1_home {
    font-size: 4em;
    text-transform: uppercase;
    text-shadow: 
        1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
    1px 15px 8px rgba(16,16,16,0.4);
}

#h2_home {
    text-shadow: 1px 4px 4px rgba(16,16,16,0.4);
}

.footer {
    height: 4%;
    width: 100%;
    background-color: #98878F;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    overflow-x:auto;
    overflow-y: hidden;
    max-width: 100%;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}   

.footer_contents {
    height: 4%;
    display: inline-block;
    white-space: nowrap;
    animation: floatText 8s infinite linear;
    position: absolute;
    width: 100%;
    margin: 0;
    text-align: right;
    align-content: center;
    justify-content: center;
}

@keyframes floatText {
    to {
      transform: translateX(-100%);
    }
  }

.footer_contents:hover {
    animation-play-state: paused;
}