.nav-tabs {
    background-color: #98878F;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: large;
    text-decoration: none;
}

.nav-tabs a:link, a:visited, a:active {
    text-decoration:none;
}

.nav-tabs a:hover:not(.active) {
    background-color: #192231;
}

.nav-tabs a {
    display: inline-block;
    padding: 20px 20px;
    color: white;
}

.nav-tabs .active {
    background-color: #494E6B;
}

#btn_language {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #985E6D;
    border: 2px solid white;
    color: white;
    font-style: italic;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.4s linear;
}

#btn_language:hover {
    background-color: #985e6dbe;
}